body {
	font-family: 'Montserrat', sans-serif;
	color: #77727C;
	background-color: #F7F7F7;
	}

a {
	color: #C2C900;
	}

h3 {
	color: #C2C900;
	}

.navbar-default {
	background-color:;
	border-color:;
	}

.navbar-default {}

img #image {
	border-radius: 80%;
	padding-left: 200px;
	}